.bg-video {
    position: absolute; 
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15; 
    overflow:hidden;// Прячет все что перекрывает элемент
    
    &__content {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /*This property helps us to cover entire div .The same as  background-size: cover; , but video does not work well when use uit*/
    }
}